

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<%= link_to 'Edit', edit_author_path(@author), :class => "admin"  %> |
<%= link_to 'Back', authors_path , :class => "admin" %>
